<div class="chat">
	<div class="chat-title">
		<h1>Marvin</h1>
		<h2 ng-show="!chat.typing">online</h2>
		<h2 ng-show="chat.typing">is typing...</h2>
		<figure class="avatar">
			<img ng-src="{{chat.botAvatar}}" />
		</figure>
	</div>
	<div class="messages">
		<div class="messages-content new">
			<div class="message new" ng-class="{'message-personal': !response.left}" ng-repeat="response in chat.responses">
				<figure class="avatar" ng-show="response.left">
					<img ng-src="{{chat.botAvatar}}" />
				</figure>
				<span>{{response.message}}</span>
				<div class="timestamp" ng-show="$last">{{response.date}}</div>
			</div>
			<div class="message loading" ng-show="chat.typing">
				<figure class="avatar">
					<img ng-src="{{chat.botAvatar}}" />
				</figure>
				<span></span>
			</div>
		</div>
	</div>
	<div class="message-box">
		<textarea type="text" ng-keypress="($event.which === 13 && chat.messageInput.length && chat.responses[chat.responses.length - 1].left) ? chat.sendMessage(chat.messageInput, false) : ''" class="message-input" ng-model="chat.messageInput" placeholder="Type your message..."></textarea><button type="submit" ng-disabled="chat.typing || !chat.responses[chat.responses.length - 1].left" class="message-submit" ng-click="chat.sendMessage(chat.messageInput, false)">Send</button>
	</div>
</div>
<div class="bg"></div>